.allPatients {
  /* overflow-x: hidden; */
  /* overflow-y: 10px; */
  background-image: url("../../assets/images/background-logo.png");
  height: auto;
  width: 100vw;
  background-size: 100% auto;
  background-position: center;
  background-repeat: repeat;
}

.createUserPage {
  background-image: url("../../assets/images/createUserBG1.png");
  height: auto;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.newAppointment {
  background-image: url("../../assets/images/newappointement.png");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
