* {
  padding: 0;
  outline: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  color: grey;
}

.allPage {
  /* overflow-x: hidden; */
  background-image: url("../../assets/images/background-logo.png");
  height: 100vh;
  width: 100vw;
  background-size: 100% auto;
  background-position: center;
  background-repeat: repeat;
}

.profile-pic {
  height: 13rem;
  width: auto;
}

.box {
  background-color: white;
  border-radius: 5px;
  width: 40rem;
  height: auto;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.img-patient {
  margin-right: -15rem;
  margin-left: 2rem;
}

/* .adressInfo {
  background-color: white;
  border-radius: 5px;
  width: 40rem;
  height: 15rem;
} */

.addressPat {
  margin-top: 1rem;
}

.recordInfo {
  background-color: white;
  border-radius: 5px;
  width: 40rem;
}

.recordRows {
  padding-top: 2rem;
  padding-left: 7rem;
  padding-bottom: 2rem;
}

.recordBox {
  padding-bottom: 5rem;
}

.buttonCreate {
  margin-top: 2rem;
  margin-right: 20rem;
}
