* {
  padding: 0;
  outline: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.allSection {
  /* overflow-x: hidden; */
  background-image: url("../../assets/images/hospital-background-2.jpg");
  height: auto;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-profile {
  margin-right: -20rem;
}

.card-img {
  max-height: 15rem;
  width: 8rem;
}

.rounded {
  background-color: white;
  width: 44rem;
  height: auto;
  padding-bottom: 2rem;
}

/* .adress {
  background-color: white;
  border-radius: 5px;
  width: 32rem;
  height: 15rem;
} */

li {
  list-style-type: none;
}

.adressProfile {
  margin-left: 1rem;
}
